[Unit]
Description=Sphinx Plugin
After=network.target

[Service]
Environment="ENV_COIN_API="
Environment="ENV_COIN_TOKEN="
ExecStart=/opt/sphinx-plugin/sphinx-plugin run
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
RestartSec=30
TimeoutSec=infinity
PrivateTmp=true

[Install]
WantedBy=multi-user.target